body
{
	background: #5C4B51;
}

.table1
{
	font-family: "Coronetscript";
}

.table1 th
{
	font-size: 34px;
	color: #F2EBBF;
	border: none;
}

.hr1
{
	width: 50%;
	align-self: center;
	opacity: 20%;
	border-color: #F2EBBF;
}

.navbar
{
	list-style-type: none;
	font-weight: bold;
	position: sticky;
	position: -webkit-sticky;
}

.navbar li
{
	display: inline-block;
	color: #F3B562;
}

.navbar li a
{
	font-size: 16px;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover
{
	color: #F06060;
}

.logo
{
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
}

.form
{
	margin-top: 4%;
	padding: 10px 14px;
	background: #F06060;
	width: 90%;
	border: 6px outset #F3B562;
	color: #F2EBBF;
}

.form input[type=text] 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.form input[type=password] 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.form input[type=submit] 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	background: #F3B562;
	color: #5C4B51;
	border: 1px solid #5C4B51;
}

.form select 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	background: #F3B562;
	color: #5C4B51;
	border: 1px solid #5C4B51;
}

.form label
{
	font-weight: bold;
}

.table2
{
	background: #F3B562;
	text-align: center;
	border: 6px double #F2EBBF;
}

.table2 th, td
{
	border: 1px solid #F2EBBF;
}

.icon
{
	text-align: left;
	font-size: 24px;
	font-weight: bold;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F2EBBF;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: #5C4B51;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: rgba(243, 181, 98, 0.6);
	color: #F3B562;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.create
{
	width: 70%;
	background: #F3B562;
	margin: auto;
	border: 6px double #F2EBBF;
}

.from th
{
	text-align: left;
	width: 20%;
	border: none;
}

.from td
{
	border: none;
}

.from input 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.from button 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #5C4B51;
}

.plist
{
	width: 95%;
	margin: 2% 0%;
	border: 2px solid black;
}

.plist td, tr, th
{
	border: 1px solid black;
}

.plist td
{
	text-align: center;
}

.overlay 
{
	height: 100%;
  	width: 100%;
  	display: none;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0, 0.9);
}

.overlay-content
{
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay .closebtn 
{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: #F2EBBF;
}

.overlay .closebtn:hover 
{
	color: #F06060;
}

.overlay input[type=text] 
{
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: #F2EBBF;
}

.overlay input[type=text]:hover 
{
	background: #ffffff;
}

.overlay input[type=submit] 
{
	float: left;
	width: 20%;
	padding: 15px;
	background: #5C4B51;
	color: #F2EBBF;
	font-weight: bold;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.overlay input[type=submit]:hover 
{
	background: #5C4B51;
	color: #F3B562;
}